@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homeLogo {
  background-image: url("../public/HomeLogo.png");
}
.searchLogo {
  background-image: url("../public/SearchLogo.png");
}
.libraryLogo {
  background-image: url("../public/LibraryLogo.png");
}
.plusLogo {
  background-image: url("../public/+LibraryLogo.png");
}
.likedLogo {
  background-image: url("../public/Liked\ SongsLogo.png");
}
.active:nth-child(1) div {
  background-image: url("../public/HomeFillLogo.png");
}
.active:nth-child(2) div {
  background-image: url("../public/SearchFillLogo.png");
}
.active:nth-child(3) div {
  background-image: url("../public/Liked\ SongsLogo.png");
}

.active p {
   color: white;
}
.line{
   width: 100%;
   border: 1px solid #282828;
}

.hovercont {
  transition: 0.3s;

  &:hover .playhover {
    opacity: 1;
    bottom: 00px;
  }

  .linear {
    background: linear-gradient(134.97deg, #3822ea 3.13%, #a3a6e5 100%);
  }
}

.reactIcon {
  position: relative;
  top: -55px;
  right: 8px;
  // padding-top: 20px;
}

.forHv:hover .forHv2 {
  display: block;
}

.forTr {
  transition: 0.5s ease;
}
}

.grid-block {
   height: 82px;
   border-radius: 6px;
   background: #FFFFFF10;
   display: flex;
   align-items: center;
   gap: 21px;
   cursor: pointer;
   transition: 500ms;
   
   &:hover{
   background: #FFFFFF40;
   }

   .grid-img {
      width: 82px;
      height: 82px;
      background-image: url("../public/chillmix.png");
      background-size: cover;
      opacity: 1;
   }

   .grid-text {
      font-family: 'Manrope';
      font-size: 20px;
      color: white;
      font-weight: bold;
   }
}
.secondgrid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	width: 100%;
	grid-gap: 27px;
}




.swiper-button-next:after{
   background-image: url(../public/img/swiperNext.png);
   background-position: center;
   background-size: 100%;
   background-repeat: no-repeat;
   color: transparent;
   font-size: 100px;
   position: absolute;
   right: 10px !important;
   cursor: pointer;
   transition: 0.3s ease !important;

}
.swiper-button-prev:after{
   background-image: url(../public/img/swiperprev.png);
   background-position: center;
   background-size: 100%;
   background-repeat: no-repeat;
   color: transparent;
   font-size: 100px;
   position: absolute;
   cursor: pointer;
   left: 10px !important;
   transition: 0.3s ease !important;

}
.swiper-button-disabled{
   opacity: 0 !important;
}
